- content_for :page_title do
  Profile Customization

= simple_form_for current_user, url: settings_pro_path, html: { method: :put } do |f|
  = render 'shared/error_messages', object: current_user

  .fields-group
    = f.input :setting_pro_display, as: :boolean, wrapper: :with_label

  .fields-group
    = f.input :setting_pro_bg, collection: ['floral'], wrapper: :with_label, label_method: lambda { |item| t("simple_form.hints.defaults.setting_pro_bg_#{item}") }, hint: false

  .actions
    = f.button :button, t('generic.save_changes'), type: :submit
