- content_for :page_title do
  Cancel plan

= form_with url: donate_cancel_path, local: true do |f|
  = hidden_field_tag(:sub_id, @sub.id)

  .sub
    .sub__title Canceling Plan
    .sub__amount $#{'%.2f' % (@sub.quantity/100.0)}/mo
    .sub__billing
      %i.fa.fa-credit-card(aria-hidden="true")
      *#{@sub.default_payment_method.card.last4}

  %select.dropdown(name='subscription_action')
    %option(value='cancel_at_period_end') Cancel at end of pay period
    %option(value='cancel_immediately') Cancel immediately and refund my last payment

  %p.whisper Canceling at the end of the pay period won't charge your card and you'll continue to enjoy PRO. If you cancel immediately, PRO will be ended and you'll receive a refund for your last payment.

  .actions
    %button.button(type='submit')
      %i.fa.fa-warning(aria-hidden='true')
      Cancel plan
