- content_for :page_title do
  = t('verifications.requests.title')

- if @current_account.is_verified?
  .alert.alert-info
    = t('verifications.requests.already_verified_html', site_title: site_title)
- elsif @account_verification_request.persisted?
  .alert.alert-success
    = t('verifications.requests.already_requested')
- else
  = t('verifications.requests.explanation_html')
  = simple_form_for @account_verification_request, url: settings_verifications_requests_path do |f|

    %br

    = render 'shared/error_messages', object: @account_verification_request

    = f.hidden_field :account

    .fields-group
      = f.input :image, wrapper: :with_label, input_html: { accept: 'image/png' }, hint: t('verifications.requests.image_hint')

    .actions
      = f.button :button, t('verifications.requests.submit'), type: :submit
