- thumbnail = @instance_presenter.thumbnail
- description = strip_tags(@instance_presenter.site_short_description.presence || @instance_presenter.site_description.presence || t('about.about_gabsocial_html'))

%meta{ name: 'description', content: description }/

= opengraph 'og:site_name', site_title
= opengraph 'og:url', url_for(only_path: false)
= opengraph 'og:type', 'website'
= opengraph 'og:title', site_title
= opengraph 'og:description', description
- if thumbnail
  = opengraph 'og:image', full_asset_url(thumbnail&.file&.url)
  = opengraph 'og:image:width', thumbnail.meta['width']
  = opengraph 'og:image:height', thumbnail.meta['height']
  = opengraph 'twitter:card', 'summary_large_image'
