<%= raw t('application_mailer.salutation', name: display_name(@me)) %>

<%= raw t('admin_mailer.new_account_verification_request.body') %>

@<%= @account.username %>

<%= raw t('application_mailer.view')%> <%= settings_verifications_moderation_url %>
