= opengraph 'og:site_name', t('about.hosted_on', domain: site_hostname, site_title: site_title)
= opengraph 'og:url', tag_url(@tag)
= opengraph 'og:type', 'website'
= opengraph 'og:title', "##{@tag.name}"
= opengraph 'og:description', strip_tags(t('about.about_hashtag_html', hashtag: @tag.name))
= opengraph 'twitter:card', 'summary'
