.public-layout {
  .footer {
    display: flex;
    padding: 40px 0;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: lighten($ui-base-color, 5%);
    border-top: darken($ui-base-color, 10%);

    @media screen and (max-width:1024px) {
      padding: 40px 20px;
    }

    .footer-container {
      display: flex;
      width: 960px;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      @media screen and (max-width:1024px) {
        width: 100%;
      }

      @media screen and (max-width:767px) {
        flex-direction: column-reverse;
        justify-content: center;
      }
    }

    h4 {
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 8px;
      color: $darker-text-color;
      font-size: 1.6rem;
      line-height: 1.5;

      a {
        color: inherit;
        text-decoration: none;
      }
    }

    .copyright {
      margin-right: auto;

      span {
        color: $primary-text-color;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.5;

        &:last-of-type {
          color: darken($primary-text-color, 20%);
        }
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-left: auto;

      li {
        a {
          text-decoration: none;
          color: lighten($ui-base-color, 34%);
          font-size: 1.3rem;
          font-weight: 500;
          line-height: 1.5;
          padding: 10px 4px;
          margin-left: 10px;

          &:hover,
          &:active,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }

    @media screen and (max-width:767px) {
      .copyright {
        margin: 0 auto auto;
        text-align: center;
      }

      ul {
        margin: 0 auto 20px;
      }
    }
  }
}
