- content_for :page_title do
  = t('terms.title', instance: site_hostname)

.content
  .box-widget
    .rich-formatting
      %h2 Copyright Policy
      %p
        We comply with applicable law in our jurisdiction, in the manner that
        seems appropriate to us at our sole discretion, regarding posting of
        copyrighted materials and regarding requests for takedowns of
        copyrighted materials.  If you are requesting that content be removed
        because you hold a copyright monopoly on that content, you must submit
        a written notice (a "DMCA notice") that meets all the requirements of
        the Online Copyright Infringement Liability Limitation Act of the
        Digital Millennium Copyright Act (17 U.S.C. § 512) ("DMCA").
      %p
        If you misrepresent that material or activity on the Website is
        infringing your copyright, you may be held liable for damages
        (including costs and attorneys' fees) under Section 512(f) of the
        DMCA.
      %p
        Likewise, submissions of "Counter Notices", for material that you
        believe was taken down by mistake or misidentification under the above
        provision, should follow the requirements of the DMCA.

      %hr

      = mail_to Setting.site_contact_email
