- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'
  = render partial: 'shared/og'

.content
  .box-widget
    .rich-formatting= @instance_presenter.site_extended_description.html_safe.presence || t('about.extended_description_html')

  %br

  .box-widget
    .rich-formatting
      %h3#opensource Open Source
      %p= "#{site_title} runs free and open source (FOSS) software licensed under the GNU Affero General Public License version 3 (AGPL3)."
      %p= "Source code: #{link_to GabSocial::Version.source_url, GabSocial::Version.source_url, target: '_blank'}"
