- content_for :page_title do
  = t('terms.title', instance: site_hostname)

.content
  .box-widget
    .rich-formatting
      %h1 Privacy Policy

      %p
        #{site_title} makes no promises regarding the privacy of information you
        submit to us, via our web site or via any other means.  Even if we were
        to make such promises, we could never guarantee our ability to keep
        them — electronic break-ins and data leaks have happened to companies
        with far more resources than we have.  Therefore we do not promise any
        confidentiality in the first place.  If you require strong guarantees
        of anonymity or confidentiality, please be aware we cannot make them.
        WE ARE NOT LIABLE FOR INFORMATION OTHERS DISCOVER ABOUT YOU THROUGH
        #{site_title.upcase}.

      %hr

      = mail_to Setting.site_contact_email
