- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  %link{ rel: 'canonical', href: about_url }/
  = render partial: 'shared/og'

.landing
  .landing-columns
    .landing-columns--left
      .landing__brand
        = link_to root_url, class: 'brand' do
          = image_tag site_logo, alt: site_title
        .brand__tagline
          %span=@instance_presenter.site_short_description

    .landing-columns--right
      .box-widget
        = render 'registration'
