- content_for :page_title do
  = t('terms.title', instance: site_hostname)

.content
  .box-widget
    .rich-formatting= @instance_presenter.site_terms.html_safe.presence || t('terms.body_html', site_title: site_title, site_contact_email: Setting.site_contact_email, domain: Rails.configuration.x.local_domain)
