!!! 5
%html{ lang: I18n.locale }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }/

    - if cdn_host?
      %link{ rel: 'dns-prefetch', href: cdn_host }/

    - if storage_host?
      %link{ rel: 'dns-prefetch', href: storage_host }/

    %link{ rel: 'icon', href: favicon_path }/
    %link{ rel: 'apple-touch-icon', sizes: '180x180', href: favicon_path }/
    %link{ rel: 'mask-icon', href: mask_icon_path }/
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }/
    %meta{ name: 'stripe-pk', content: ENV['STRIPE_PUBLIC_KEY']}/

    - if @tag
      = render 'tags/meta', tag: @tag, initial_state_json: @initial_state_json
    - elsif @stream_entry && @account
      = render 'stream_entries/meta', stream_entry: @stream_entry, account: @account
    - elsif @account && @account.local?
      = render 'accounts/meta', account: @account, older_url: nil, newer_url: nil

    %title= content_for?(:page_title) ? safe_join([yield(:page_title).chomp.html_safe, title], ' - ') : title

    = stylesheet_pack_tag 'common', media: 'all'
    = stylesheet_pack_tag current_theme, media: 'all'
    = javascript_pack_tag 'common', integrity: true, crossorigin: 'anonymous'
    = javascript_pack_tag "locale_#{I18n.locale}", integrity: true, crossorigin: 'anonymous'
    = csrf_meta_tags

    - if Setting.custom_css.present?
      = stylesheet_link_tag custom_css_path, media: 'all'

    = yield :header_tags

  %body{ class: body_classes }
    = content_for?(:content) ? yield(:content) : yield

    :css
      .fa-site-icon::before {
        background-image: url("#{mask_icon_path}");
      }
