- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'

- content_for :content do
  .container-alt
    .logo-container
      %h1
        = link_to root_path do
          = image_tag site_logo, alt: site_title

    .form-container
      = render 'flashes'

      = yield

= render template: 'layouts/application'
