- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'
  - if Setting.theme == 'glinner'
    %meta{ name: 'bg-img', content: asset_pack_path('media/images/glinner.gif')}/

- content_for :content do
  .public-layout
    - unless @hide_navbar
      %nav.header
        .header-container
          .nav-left
            = link_to root_url, class: 'brand' do
              = image_tag site_logo, alt: site_title
            = link_to t('home'), root_url, class: 'nav-link optional'
            = link_to t('about.about_this'), about_path, class: 'nav-link'
          .nav-center
          .nav-right
            - if user_signed_in?
              = link_to t('settings.back', site_title: site_title), root_url, class: 'nav-link nav-button webapp-btn'
            - else
              .hidden-sm
                = render 'application/login'
              .visible-sm
                = link_to t('auth.login'), new_user_session_path, class: 'webapp-btn nav-link nav-button'

    .container= yield

    .footer
      .footer-container
        .copyright
          %span= "♡ #{Time.now.utc.year}. Copying is an act of love. Please copy and share."
        %ul
          %li= link_to 'About', about_path
          %li= link_to 'Terms of Service', about_tos_path
          %li= link_to 'Privacy Policy', about_privacy_path
          %li= link_to 'DMCA', about_dmca_path
          %li= link_to 'Source Code', about_path + "#opensource"

= render template: 'layouts/application'
